<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal | Configuracao</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body id="bod">
    <div class="welcome container-fluid">
        <div class="row full-height align-items-stretch d-flex flex-fill d-flex justify-content-start">
          <!-- qr code reader -->
          <div class="col-sm-9 intro-side ">
            <div class="ghosted-logo"></div>
            <div class="p-sm-1 p-md-3 pt-3 pt-sm-3 pt-md-5 d-flex align-items-center justify-content-center h-100">
              <div class="text-center">
                <h1 class="title h1">Ler codigo aqui!</h1>
                <p>Aproxima o QRcode para pode ler</p>
                <div class="viewport card" id="interactive" style="background-color: transparent; opacity: 0.4;" >
                  <video id="scanner" height="100%" width="100%"></video>
                </div>
              </div>
            </div>
            <div class="logo">
              <a href="#" rel="noreferrer">Onilio Semedo</a>
            </div>
          </div>
  
          <!-- informacoes -->
          <div class="col-sm-3 form-side p-0">
            <div id="alert_show"></div>
              <div class="welcomemodal p-4 h-100">
                  <div class="h-100 align-items-center justify-content-center d-flex pr-2">
                  <div class="formwrap">
                      <div class="loginform" id="loginform">
                      
                      <!-- configuration sistem -->
                      <form onsubmit="return false;" id="terminal_configuration" method="post" class="text-center">
                          
                        <div>
                        <h3 class="h2" id="name">Configuracao de Terminal</h3>
                        <div class="form-group">
                            <h5 id="time">time</h5>
                        </div>
                        
                      </form>
  
                      <div class="form-group text-center" id="loading" style="display: none;">
                        <div class="spinner-grow text-primary" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-secondary" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-warning" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-info" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-light" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/instascan.min.js"></script>
    <script>
         $(document).ready(function () {
        function updateTime() {
            var currentTime = new Date();

            var formattedTime = currentTime.getHours() + ":" +
                                currentTime.getMinutes() + ":" +
                                currentTime.getSeconds();

            $('#time').text(formattedTime);
        }

        updateTime();
        setInterval(updateTime, 1000);

        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        }).catch(function(err) {
          console.error(err);
        });
        let scanner = new Instascan.Scanner({ video: document.getElementById('scanner') });

        // Handle QR code scan
        scanner.addListener('scan', function(content) {
          $('#loading').show();
            $.get(content, function(data) {
              if (data.message == 200) {
                fetch('/configuracao', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ data: data.data })
                })
                .then(response => {
                  if (response.status === 200) {
                    $('#alert_show').html(
                      '<div class="alert alert-success" role="alert">'+
                        'Terminal Configurado com sucesso!'+
                      '</div>'
                    );
                    setTimeout(() => {
                        window.location.href = '/';
                    }, 10000);
                  } else {
                    $('#alert_show').html(
                      '<div class="alert alert-danger" role="alert">'+
                        `'Erro: ${response.status}.'`+
                      '</div>'
                    );
                  }
                });
              }else{
                $('#alert_show').html(
                  '<div class="alert alert-danger" role="alert">'+
                    'Erro: QRCode nao definido pelo sistema.'+
                  '</div>'
                );
              }

            });
            $('#loading').hide();
          });
          
        Instascan.Camera.getCameras().then(function(cameras) {
          if (cameras.length > 0) {
            scanner.start(cameras[0]);
          } else {
            console.error('No cameras found.');
          }
        }).catch(function(e) {
          console.error(e);
        });
      });

    </script>
</body>
</html>
