
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

      body, html {
        -webkit-font-smoothing: antialiased;
        height: 100%;
        background-color: #f9f9f9;
      }

      .login-container {
        position: relative;
        height: 100%;
      }
      .btn-block {
        display:block;
        width: 100%;
      }
      .btn-google {
        color: #545454;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 1px #ddd;
      }
      .form-group {
        margin-bottom: 1rem;
      }

      .login-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 15px;
        background-color: #fff;
        box-shadow: 0px 5px 5px #ccc;
        border-radius: 5px;
        border-top: 1px solid #e9e9e9;
      }

      .login-header {
        text-align: center;
      }

      .login-header img {
        width: 75px;
      }

      .error-message {
        display: none;
        white-space: break-spaces;
      }

      .welcome {
        z-index: 1000;
        position: relative;
        min-height: 100vh;
        font-family: Poppins, "Helvetica Neue", Arial, sans-serif;
      }
      .welcome .intro-side {
        position:relative;
        background-color: #4817a1;
        background: radial-gradient(
          at 50% 100%,
          rgba(109, 18, 228, 0.75),
          rgb(15, 1, 94)
        );
        color: #fff;
        padding-bottom: 30px;
        vertical-align: middle;
        min-height: 100%;
      }
      .welcome .ghosted-logo {
        /*background: transparent url("https://us.edu.cv/upload/universidade_home.webp") 50%
          50%;*/
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        right: 10px;
        opacity: 0.5;
      }
      .welcome .logo {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;
    }
    .welcome .form-side {
      background-color: #fff;
    }
    .welcome .formwrap {
      width: 100%;
      max-width: 500px;
    }
    .welcome h1,
    .welcome h2,
    .welcome h3 {
      font-weight: 600;
    }


  @media (min-width: 575px) {
    .welcome .full-height {
      min-height: 100vh;
    }
    .welcome .intro-side {
      padding-bottom: 0;
    }
  }